# Data files
/data/*
!data/input
!data/output
!/data/input/source/.gitkeep
!/data/output/.gitkeep

# Log files
/log/*

# ENV files
poetry_toolbox - Raccourci.lnk

# Python cache files
__pycache__/

# Pytest cache
.pytest_cache/
